/* Write some CSS below */
body{
	font-family: 'Roboto', sans-serif;
	display: block;
	margin: 0px;
}

.banner-wrap{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&auto=format&fit=crop&w=1357&q=80');
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}
h1 {
	color: white;
	font-size: 48px;
	margin: 0;
	font-weight: bold;
}

p{
	color: white;
	font-size: 24px;
	opacity: 0.85; }

button {
	background-color: #ed3615;
	color: white;
	padding: 16px 48px;
	border-radius: 4px;
	text-decoration: none;
	transition: .3s;
	font-size: 20px;
	font-weight: bold;
	border:none;
}

.cards-wrap {
	width: 900px;
	margin: 60px auto;

}
.cards-container  {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   text-align: center;
    
	

}
.card p {
	color: black;
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 0px 20px;
	text-align: center;
	   align-items: center;



}
.card img{
	width:200px;
	height: 200px;
}
footer {
	background:#968f8d;
	color: gray;
	padding: 20px 20px;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;

}
footer p {
	margin: 0;
}